__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.~lock.*#
api/credentials.env
api/save_page/
artifacts/*.csv
artifacts/models/
artifacts/submissions/
artifacts/collection/
artifacts/benchmarks/
!artifacts/.gitkeep
